/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.bigButtons{
	-fx-pref-width: 90.0;
	-fx-pref-height: 55.0;
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-border-radius: 10.0px;
	-fx-border-color:  #e4e4e4 ;


}
.bigButtons2{
-fx-border-radius: 10.0px;
-fx-border-color: aliceblue ;
-fx-background-color: #48b465;



}
.table-row-cell{

	-fx-border-color: rgb(255.0,255.0,255.0);
	-fx-padding:0.00.00.0 ;
	-fx-cell-size: 35.0px;
	-fx-font-size: 12.0px;
	-fx-text-alignment: center ;

}
.list-cell {
  -fx-cell-size: 35.0 ;
  -fx-border-color: rgb(128.0,128.0,255.0);
  -fx-font-size: 12.0px;
}
.list{
	-fx-border-radius: 10.0px;
	-fx-border-color: rgb(128.0,128.0,255.0);


}